body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: rgb(18, 18, 19);
  margin: 0;
}

hr {
  margin-top: -5px;
  background-color: rgba(128, 128, 128, 0.144);
  border-color: rgba(128, 128, 128, 0.144);

}

#title {
  font-family: 'Playfair Display', serif;
  margin-top: 5px;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  margin-right: 10px;
}

#board {
  width: 300px;
  height: 360px;
  /* background-color: yellow; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 3px; */
}

.tile {
  /* box */
  border: 2px solid rgba(211, 211, 211, 0.289);
  width: 49.5px;
  height: 49.5px;
  margin: 2.5px;
  /*total 5px away from each tile */

  /* text */
  color: rgb(255, 254, 254);
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: green;
  color: white;
  border-color: rgba(3, 108, 12, 0.875);
  /*to blend with the background */
}

.present {
  background-color: rgb(191, 191, 36);
  color: white;
  border-color: rgb(127, 143, 30);
  /*to blend with the background */
}

.absent {
  background-color: grey;
  color: white;
  border-color: rgb(96, 96, 96);
  /*to blend with the background */
}

#answer {
  margin-top: -6px;
  color: white;
}

.keyboard-row {
  border: none;
  /* width: 484px;
  height: 198px; */
  width: 100%;
  margin: 0px auto;
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 4px;

}

.key-tile {
  /* box */
  background-color: rgba(211, 211, 211, 0.289);
  width: 43px;
  height: 58px;
  margin: 2.5px;
  border-radius: 5px;
  /*total 5px away from each tile */

  /* text */
  color: rgb(255, 254, 254);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.key-enter {
  /* box */
  background-color: rgba(211, 211, 211, 0.289);
  width: 73px;
  height: 58px;
  margin: 2.5px;
  border-radius: 5px;
  /*total 5px away from each tile */

  /* text */
  color: rgb(255, 254, 254);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.entered-word {
  color: white;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  /* width: 50px;
height: 50px; */
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 11px;
  margin-top: -10px;
  border-style: dashed;
  background-color: rgb(184, 182, 182);
  font-size: larger;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
/* #buttons-container{
  display: flex;
  justify-content: flex-end;
} */

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .key-tile {
    /* box */
    background-color: rgba(211, 211, 211, 0.289);
    width: 30px;
    height: 55px;
    margin: 2.5px;
    border-radius: 5px;
    /*total 5px away from each tile */

    /* text */
    color: rgb(255, 254, 254);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .key-enter {
    width: 45px;
    height: 55px;
    font-size: 16px;
  }
}